<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gh" />
  <package id="vscode" />
  <package id="epicgameslauncher" />
  <package id="dotnetfx" />
  <package id="dotnet3.5" />
  <package id="syncthing" />
  <package id="sharex" />
  <package id="git" />

  <!--
    it's one of these...
  <package id="visualcpp-build-tools" />
  <package id="visualstudio2022-workload-vctools" />
  -->
</packages>
